In [1]:
import pandas as pd

In [2]:
s = pd.Series(['A', 'B', 'C', 'D', 'E'], index=[1,2,3,4,5])

In [3]:
s

1    A
2    B
3    C
4    D
5    E
dtype: object

In [4]:
print(s)

1    A
2    B
3    C
4    D
5    E
dtype: object

In [ ]:
data

In [6]:
data = { 'País': ['Brasil', 'EUA', 'Rússia'],
'Capital': ['Brasília', 'Washington',
'Moscou'], 'IDH': [79, 10, 49] }

In [7]:
data

{'País': ['Brasil', 'EUA', 'Rússia'],
 'Capital': ['Brasília', 'Washington', 'Moscou'],
 'IDH': [79, 10, 49]}

In [8]:
type(data)

dict

In [9]:
df = pd.DataFrame(data, columns=['País', 'Capital', 'IDH'])

In [10]:
df

     País     Capital  IDH
0  Brasil    Brasília   79
1     EUA  Washington   10
2  Rússia      Moscou   49